@import url("./global.css");

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 0px;

}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-header ul li a{
    color:var(--color-secundaryBLK);
    text-decoration: none; /*tira o underscore */
    font-family: var(--font-body);
}

.btn-header{
    background-color: var(--color-primary);
    padding: 12px 30px;
    font-family: var(--font-title);
    border-radius: 15px 3px;
    text-decoration: none;
    color: var(--color-secundaryWht);
    font-size: var(--font-button-size);
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    padding: 60px 0px;
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-size:var(--font-headline-h1-size);
    font-family: var(--font-title);
    width: 562px;
}

.highlighted-word{
    color:var(--color-primary);
}

.content-main p{
    color: var(--color-secundaryGry);
    font-size: var(--font-body-size);
    font-family:(--font-body);
    width: 544px;
    line-height: 30px; /*altura da linha */
}

.container-btn-main{
    display: flex;
    gap: 20px;
}